
{% extends 'base.html' %}

{% block title %}  {% endblock %}
{% block description %} {% endblock %}
{% block keywords %}  {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %}{% endblock %}
{% block og:description %} {% endblock %}
{% block og:url %}  {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %}{% endblock %}
{% block vk:image %}{% endblock %}
{% block og:image %}{% endblock %}


{% block body %}
{% load static %}
{% load thumbnail %}
<section class="start">
    <div class="container">
        <div class="start__inner">
            <div class="start__wrapper">
                <h1 class="start__title">
                <strong>Полезные статьи о красоте и здоровье</strong>
                </h1>
                <p class="start__text">Мы используем инновационное оборудование для вашего максимального комфорта и эффективности процедур</p>
            </div>

            <div class="start__sale">
                
            </div>
        </div>
    </div>
    <img src="{% static 'images/blog/blog.jpg' %}" alt="" class="start__img">
</section>

<div class="blog-home">
    <div class="container">
    <div class="title">Блог</div>
        <div class="blog-home__inner">

        {% for post in posts %}
             <div class="blog-home__item">

                {% thumbnail post.image "416x228" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ post.title }}" class="blog-home__img">
                {% endthumbnail %}

                
                <div class="blog-home__date">{{ post.date }}</div>
                <h3 class="blog-home__title">{{ post.title }}</h3>
                
                <a href="{{ post.get_absolute_url }}" class="blog-home__link">Читать полностью 
                <div class="blog-home__icon-wrap">
                    <img src="{% static 'images/blog-home/arrow.png' %}" alt="" class="blog-home__icon">
                </div>
                </a>
            </div>
        {% endfor %}

        
        </div>
    </div>
</div>

{% endblock %}