
{% extends 'base.html' %}

{% block title %}  {% endblock %}
{% block description %} {% endblock %}
{% block keywords %}  {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %}{% endblock %}
{% block og:description %} {% endblock %}
{% block og:url %}  {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %}{% endblock %}
{% block vk:image %}{% endblock %}
{% block og:image %}{% endblock %}


{% block body %}
{% load static %}

<section class="start">
    <div class="container">
        <div class="start__inner">
            <div class="start__wrapper">
                <h1 class="start__title">
                <strong>Полезные статьи о красоте и здоровье</strong>
                </h1>
                <p class="start__text">Мы используем инновационное оборудование для вашего максимального комфорта и эффективности процедур</p>
            </div>

            <div class="start__sale">
                
            </div>
        </div>
    </div>
    <img src="{% static 'images/blog/blog.jpg' %}" alt="" class="start__img">
</section>

<div class="blog-home">
    <div class="container">
    <div class="title">Блог</div>
        <div class="blog-home__inner">
             <div class="blog-home__item">
                <img src="{% static 'images/blog-home/blog4.png' %}" alt="" class="blog-home__img">
                <div class="blog-home__date">07.05.2021</div>
                <h3 class="blog-home__title">Открываем новый сезон с аппаратом VORTEX pro</h3>
                
                <a href="#" class="blog-home__link">Читать полностью 
                <div class="blog-home__icon-wrap">
                    <img src="{% static 'images/blog-home/arrow.png' %}" alt="" class="blog-home__icon">
                </div>
                </a>
            </div>
             <div class="blog-home__item">
                <img src="{% static 'images/blog-home/blog4.png' %}" alt="" class="blog-home__img">
                <div class="blog-home__date">07.05.2021</div>
                <h3 class="blog-home__title">Открываем новый сезон с аппаратом VORTEX pro</h3>
                
                <a href="#" class="blog-home__link">Читать полностью 
                <div class="blog-home__icon-wrap">
                    <img src="{% static 'images/blog-home/arrow.png' %}" alt="" class="blog-home__icon">
                </div>
                </a>
            </div>
             <div class="blog-home__item">
                <img src="{% static 'images/blog-home/blog4.png' %}" alt="" class="blog-home__img">
                <div class="blog-home__date">07.05.2021</div>
                <h3 class="blog-home__title">Открываем новый сезон с аппаратом VORTEX pro</h3>
                
                <a href="#" class="blog-home__link">Читать полностью 
                <div class="blog-home__icon-wrap">
                    <img src="{% static 'images/blog-home/arrow.png' %}" alt="" class="blog-home__icon">
                </div>
                </a>
            </div>
             <div class="blog-home__item">
                <img src="{% static 'images/blog-home/blog4.png' %}" alt="" class="blog-home__img">
                <div class="blog-home__date">07.05.2021</div>
                <h3 class="blog-home__title">Открываем новый сезон с аппаратом VORTEX pro</h3>
                
                <a href="#" class="blog-home__link">Читать полностью 
                <div class="blog-home__icon-wrap">
                    <img src="{% static 'images/blog-home/arrow.png' %}" alt="" class="blog-home__icon">
                </div>
                </a>
            </div>
             <div class="blog-home__item">
                <img src="{% static 'images/blog-home/blog4.png' %}" alt="" class="blog-home__img">
                <div class="blog-home__date">07.05.2021</div>
                <h3 class="blog-home__title">Открываем новый сезон с аппаратом VORTEX pro</h3>
                
                <a href="#" class="blog-home__link">Читать полностью 
                <div class="blog-home__icon-wrap">
                    <img src="{% static 'images/blog-home/arrow.png' %}" alt="" class="blog-home__icon">
                </div>
                </a>
            </div>
             <div class="blog-home__item">
                <img src="{% static 'images/blog-home/blog4.png' %}" alt="" class="blog-home__img">
                <div class="blog-home__date">07.05.2021</div>
                <h3 class="blog-home__title">Открываем новый сезон с аппаратом VORTEX pro</h3>
                
                <a href="#" class="blog-home__link">Читать полностью 
                <div class="blog-home__icon-wrap">
                    <img src="{% static 'images/blog-home/arrow.png' %}" alt="" class="blog-home__icon">
                </div>
                </a>
            </div>
             <div class="blog-home__item">
                <img src="{% static 'images/blog-home/blog4.png' %}" alt="" class="blog-home__img">
                <div class="blog-home__date">07.05.2021</div>
                <h3 class="blog-home__title">Открываем новый сезон с аппаратом VORTEX pro</h3>
                
                <a href="#" class="blog-home__link">Читать полностью 
                <div class="blog-home__icon-wrap">
                    <img src="{% static 'images/blog-home/arrow.png' %}" alt="" class="blog-home__icon">
                </div>
                </a>
            </div>
            <div class="blog-home__item">
                <img src="{% static 'images/blog-home/blog4.png' %}" alt="" class="blog-home__img">
                <div class="blog-home__date">07.05.2021</div>
                <h3 class="blog-home__title">Открываем новый сезон с аппаратом VORTEX pro</h3>

                <a href="#" class="blog-home__link">Читать полностью 
                <div class="blog-home__icon-wrap">
                    <img src="{% static 'images/blog-home/arrow.png' %}" alt="" class="blog-home__icon">
                </div>
                </a>
            </div>

        
        </div>
    </div>
</div>

{% endblock %}