
{% extends 'base.html' %}

{% block title %}  {% endblock %}
{% block description %} {% endblock %}
{% block keywords %}  {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %}{% endblock %}
{% block og:description %} {% endblock %}
{% block og:url %}  {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %}{% endblock %}
{% block vk:image %}{% endblock %}
{% block og:image %}{% endblock %}


{% block body %}
{% load static %}

<section class="start">
    <div class="container">
        <div class="start__inner">
            <div class="start__wrapper">
                <h1 class="start__title">
                <strong>СТОИМОСТЬ УСЛУГ В НАШИХ САЛОНАХ</strong>
                </h1>
                <p class="start__text">Мы используем инновационное оборудование для вашего максимального комфорта и эффективности процедур</p>
            </div>

            <div class="start__sale">
                <div class="start__sale-item">
                    Акция
                </div>
            </div>
        </div>
    </div>
    <img src="{% static 'images/blog/blog.jpg' %}" alt="" class="start__img">
</section>


<div class="price">
    <div class="container">
        <div class="price__inner">
            <div class="title price__title">Какие процедуры мы делаем</div>
            <div class="price__wrapper">
                <div class="price__left">
                    <p class="price__desc">
                        Общее краткое описнание Аппаратный lpg-метод за счет вакуума и массирующих роликов, оказывает действие на подкожные ткани и мышцы, заставляя их избавляться от излишней жидкости, токсинов, стимулируя регенерацию клеток и выработку коллагена с эластином. Усиливается кровообращение и происходит лимфодренажный эффект с расщеплением жиров. Аппарат не оставляет синяков на теле и не доставляет болезненных ощущений.
                        Вакуумно-роликовый массаж применяется не только в косметологии и медицине, но и в спорте, так как помогает быстро восстанавливаться после травм и больших нагрузок.


                    
                    </p>
                    

                    {% for service in services %}
                    <div class="price__accordeon">

                        <button class="accordion">
                            <div class="price__accordeon-wrap">
                                <div class="price__accordeon-numb">1</div> 
                                <p class="price__accordeon-title">{{ service.title }}</p> 
                            </div>
                            <div class="price__accordeon-wrap">
                                <a href="{{ service.get_absolute_url }}" class="price__accordeon-link">Описание</a>
                                <p class="price__accordeon-open">Открыть прайс</p>
                            </div>
                        </button>
                        <div class="panel">
                            <p class="panel__text">Процедуры</p>
                            {% for procedure in service.procedures.all %}
                            <div class="panel__item">
                                
                                
                                <p class="panel__item-title">{{ procedure.title }}</p>
                                    
                                    <div class="panel__price-wrap">
                                        <p class="panel__price-numb">{{ procedure.sessions }}</p>
                                        <p class="panel__price-time"><img src="{% static 'images/clock.png' %}" alt="" class="panel__price-icon">  {{ procedure.time }}</p>
                                        
                                    </div>
                                    <p class="panel__price-price">{{ procedure.price }} руб</p>
                                     <a href="#" class="btn btn__gray">Записаться онлайн</a>
                                
                                
                            
                            
                            </div>
                            {% endfor %}
                           


                        </div>

                       
                    
                    
                    </div>
                    {% endfor %}

                    

                
                </div>

                <div class="price__right">
                
                {% include 'components/range-form.html' %}
                
                
                </div>

            
            </div>
        
        
        </div>
    </div>
</div>




{% include 'components/branch.html' %}


 

{% endblock %}