
{% extends 'base.html' %}

{% block title %}  {% endblock %}
{% block description %} {% endblock %}
{% block keywords %}  {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %}{% endblock %}
{% block og:description %} {% endblock %}
{% block og:url %}  {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %}{% endblock %}
{% block vk:image %}{% endblock %}
{% block og:image %}{% endblock %}


{% block body %}
{% load static %}

<section class="start">
    <div class="container">
        <div class="start__inner">
            <div class="start__wrapper">
                <h1 class="start__title">
                <strong>Отзывы</strong>
                </h1>
            </div>

            <div class="start__sale">
                
            </div>
        </div>
    </div>
    <img src="{% static 'images/blog/blog.jpg' %}" alt="" class="start__img">
</section>


<div class="review_list">
    <div class="container">
        <div class="review_list__inner">


        {% for review in request.review_list %}
            <div class="rewiew__item">
                <p class="rewiew__name">{{ review.name }}</p>
                <p class="rewiew__about">Отзыв о процедуре - <span class="rewiew__about--primary">{{ review.service.title }}</span></p>
                <div class="rewiew__wrap ">

                    <p class="rewiew__text ">
                    {{ review.text }}
                    </p>

                    
                </div>
                {% comment %} <a href="#" class="rewiew__open">подробнее</a> {% endcomment %}
            </div>
            
        {% endfor %}
           

        
        
        
        </div>
    </div>
</div>


{% include 'components/branch.html' %}


 

{% endblock %}