
{% extends 'base.html' %}

{% block title %}  {% endblock %}
{% block description %} {% endblock %}
{% block keywords %}  {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %}{% endblock %}
{% block og:description %} {% endblock %}
{% block og:url %}  {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %}{% endblock %}
{% block vk:image %}{% endblock %}
{% block og:image %}{% endblock %}


{% block body %}
{% load static %}
{% load thumbnail %}
<section class="start">
    <div class="container">
        <div class="start__inner">
            <div class="start__wrapper">
                <h1 class="start__title">
                <strong>{{ special.title }}</strong>
                </h1>
            </div>

            <div class="start__sale">
                
            </div>
        </div>
    </div>
    <img src="{{ image.photo.url }}" alt="" class="start__img">
</section>


<div class="special-detail">
    <div class="container">
        <div class="special-detail__inner">
            <h2 class="title special-detail__title">Особенности процедуры</h2>
            <div class="special-detail__wrapper">
                <div class="special-detail__left">
                    <p class="special-detail__desc">
                       {{ special.services.description }}
                    </p>
                    <p class="special-detail__subtitle">Процедуры</p>


                        <div class="special-detail__item">
                                                 
                            <p class="special-detail__item-title">{{ special.procedure.title }}</p>
                            
                                <div class="special-detail__price-wrap">
                                    <p class="special-detail__price-numb">{{ special.procedure.sessions }}</p>
                                    <p class="special-detail__price-time"><img src="{% static 'images/clock.png' %}" alt="" class="special-detail__price-icon">  {{ special.procedure.time }} минут</p>
                                    
                                </div>
                                <p class="special-detail__price-price">{{ special.price }} руб</p>
                                <a href="#" class="btn btn__gray online">Записаться онлайн</a>
                            
                        </div>

                        <div class="special-detail__grid">

                        {% for image in images %}

                            {% thumbnail image.photo "415x300" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" class="special-detail__img">
                            {% endthumbnail %}
                        
                        {% endfor %}
                        
                            


                         
                        </div>
                        <a href="{% url 'price' %}" class="btn btn__empty">Все цены на услуги</a>

                </div>

                
                <div class="special-detail__right">

                {% if special.spec %}
                <div class="services__rec">
                        <div class="services__spec">
                            <img src="{% static 'images/spec.png' %}" alt="" class="services__rec-img">
                            <p class="services__rec-title">Мнение специалиста</p>
                        </div>
                        <p class="services__rec-text">
                            {{ special.spec.title }}
                        </p>
                        <p class="services__rec-it">
                            {{ special.spec.text }}
                        </p>
                    </div>
                
                {% endif %}

                    <div class="special-detail__right-subtitle">Показания</div>
                    <div class="special-detail__right-list">
                        {{ special.services.testimony | safe}}
                    
                    </div>
                    <div class="special-detail__right-subtitle">Противопоказания</div>
                    <div class="special-detail__right-list">
                        {{ special.services.contraindications | safe}}
                    
                    </div>


                
                
                </div>

            </div>
        
        </div>
    </div>
</div>



{% include 'components/spec.html' %}
{% include 'components/our-command.html' %} 
{% include 'components/rewiew.html'  %}
{% include 'components/branch.html'  %}


 

{% endblock %}