
{% extends 'base.html' %}

{% block title %}  {% endblock %}
{% block description %} {% endblock %}
{% block keywords %}  {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %}{% endblock %}
{% block og:description %} {% endblock %}
{% block og:url %}  {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %}{% endblock %}
{% block vk:image %}{% endblock %}
{% block og:image %}{% endblock %}


{% block body %}
{% load static %}

<section class="start">
    <div class="container">
        <div class="start__inner">
            <div class="start__wrapper">
                <h1 class="start__title">
                <strong>Специальное предложение на  массаж тела</strong>
                </h1>
            </div>

            <div class="start__sale">
                
            </div>
        </div>
    </div>
    <img src="{% static 'images/blog/blog.jpg' %}" alt="" class="start__img">
</section>


<div class="special-detail">
    <div class="container">
        <div class="special-detail__inner">
            <h2 class="title special-detail__title">Особенности процедуры</h2>
            <div class="special-detail__wrapper">
                <div class="special-detail__left">
                    <p class="special-detail__desc">
                        Аппаратный lpg-метод за счет вакуума и массирующих роликов, оказывает действие на подкожные ткани и мышцы, заставляя их избавляться от излишней жидкости, токсинов, стимулируя регенерацию клеток и выработку коллагена с эластином. Усиливается кровообращение и происходит лимфодренажный эффект с расщеплением жиров. Аппарат не оставляет синяков на теле и не доставляет болезненных ощущений.
                        Вакуумно-роликовый массаж применяется не только в косметологии и медицине, но и в спорте, так как помогает быстро восстанавливаться после травм и больших нагрузок.
                    </p>
                    <p class="special-detail__subtitle">Процедуры</p>


                        <div class="special-detail__item">
                                                 
                            <p class="special-detail__item-title">Процедура шейно-воротниковой зоны</p>
                            
                                <div class="special-detail__price-wrap">
                                    <p class="special-detail__price-numb">1 сеанс</p>
                                    <p class="special-detail__price-time"><img src="{% static 'images/clock.png' %}" alt="" class="special-detail__price-icon">  30 минут</p>
                                    
                                </div>
                                <p class="special-detail__price-price">1000 руб</p>
                                <a href="#" class="btn btn__gray">Записаться онлайн</a>
                            
                        </div>

                        <div class="special-detail__grid">
                            <img src="{% static 'images/special_detail/1.jpg' %}" alt="" class="special-detail__img">
                            <img src="{% static 'images/special_detail/2.jpg' %}" alt="" class="special-detail__img">
                            <img src="{% static 'images/special_detail/3.jpg' %}" alt="" class="special-detail__img">
                        </div>
                        <a href="{% url 'price' %}" class="btn btn__empty">Все цены на услуги</a>

                </div>
                <div class="special-detail__right">
                    <div class="services__rec">
                        <div class="services__spec">
                            <img src="{% static 'images/spec.png' %}" alt="" class="services__rec-img">
                            <p class="services__rec-title">Мнение специалиста</p>
                        </div>
                        <p class="services__rec-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veritatis exercitationem accusamus. Vitae quae, sunt dicta delectus nemo ex dolorum commodi veniam, ad tempora, nihil placeat dolorem laudantium officia molestias!         
                                 
                        </p>
                        <p class="services__rec-it">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae officia ullam exercitationem. Aliquam ea doloribus et rerum ratione veritatis. At explicabo omnis vero impedit eligendi, asperiores unde iure ratione totam.
                        
                        </p>
                    </div>

                    <div class="special-detail__right-subtitle">Показания</div>
                    <div class="special-detail__right-list">
                        <li class="special-detail__right-item">— Снижение веса;</li>
                        <li class="special-detail__right-item">— Подтяжка контуров;</li>
                        <li class="special-detail__right-item">— Избавление от целлюлита и дряблой кожи;</li>
                        <li class="special-detail__right-item">— Удаление жировой прослойки;</li>
                        <li class="special-detail__right-item">— Избавление от рубцов и растяжек;</li>
                        <li class="special-detail__right-item">— Устранение морщин;</li>
                        <li class="special-detail__right-item">— Расслабляющий эффект для организма;</li>
                        <li class="special-detail__right-item">— Подтянутость кожи.</li>
                        
                    
                    </div>
                    <div class="special-detail__right-subtitle">Противопоказания</div>
                    <div class="special-detail__right-list">
                        <li class="special-detail__right-item">— Снижение веса;</li>
                        <li class="special-detail__right-item">— Подтяжка контуров;</li>
                        <li class="special-detail__right-item">— Избавление от целлюлита и дряблой кожи;</li>
                        <li class="special-detail__right-item">— Удаление жировой прослойки;</li>
                        <li class="special-detail__right-item">— Избавление от рубцов и растяжек;</li>
                        <li class="special-detail__right-item">— Устранение морщин;</li>
                        <li class="special-detail__right-item">— Расслабляющий эффект для организма;</li>
                        <li class="special-detail__right-item">— Подтянутость кожи.</li>
                        
                    
                    </div>


                
                
                </div>

            </div>
        
        </div>
    </div>
</div>



{% include 'components/spec.html' %}
{% include 'components/our-command.html' %} 
{% include 'components/rewiew.html'  %}
{% include 'components/branch.html'  %}


 

{% endblock %}