
{% extends 'base.html' %}

{% block title %}  {% endblock %}
{% block description %} {% endblock %}
{% block keywords %}  {% endblock %}
{% block canonical %} {% endblock %}
{% block og:title %}{% endblock %}
{% block og:description %} {% endblock %}
{% block og:url %}  {% endblock %}
{% block twitter:title %}{% endblock %}
{% block twitter:description %}{% endblock %}
{% block vk:image %}{% endblock %}
{% block og:image %}{% endblock %}


{% block body %}
{% load static %}

<section class="start">
    <div class="container">
        <div class="start__inner">
            <div class="start__wrapper">
                <h1 class="start__title">
                <strong>{{ service.title }}</strong>
                </h1>
            </div>

            <div class="start__sale">
                
            </div>
        </div>
    </div>
    <img src="{{ image.photo.url }}" alt="{{ service.title }}" class="start__img">
</section>




{% include 'components/spec.html' %}
{% include 'components/our-command.html' %} 
{% include 'components/rewiew.html'  %}
{% include 'components/branch.html'  %}


 

{% endblock %}