{% load static %}


<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <link rel="canonical" href="{% block canonical %}{% endblock %}" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og:title %}{% endblock %} " />
    <meta property="og:description" content="{% block og:description %}{% endblock %}" />
    <meta property="og:url" content="{% block og:url %}{% endblock %}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% block twitter:title %}{% endblock %}"  />
    <meta name="twitter:description" content="{% block twitter:description %}{% endblock %}" />
    <meta name="theme-color" content="#000000">
    <meta property="og:site_name" content="" />
    <meta property="vk:image" content="{% block vk:image %}{% endblock %}" />
    <meta property="og:image" content="{% block og:image %}{% endblock %}" />

   
    {% comment %} <link rel="shortcut icon" href="{% static 'fav/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'fav/apple-touch-icon.png' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'fav/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'fav/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'fav/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'fav/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'fav/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'fav/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'fav/apple-touch-icon-152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon-180x180.png' %}" /> {% endcomment %}

    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>

    
    <link href="{% static 'css/style.css' %}?{% now 'H:i:s' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0af96d350a.js" crossorigin="anonymous"></script>

    
</head>

<body>


    {% include 'parts/header.html'  %}

    {% block body %}
    {% endblock %}

    {% include 'parts/footer.html'  %}
    <div class="popup">

    
    <div class="popup__closer"></div>
        <div class="popup__inner">
            <img src="{% static 'images/cancel.png' %}" alt="" class="popup__cancel">
            <p class="popup__title">Подберём для Вас методики и подходящие услуги</p>
            <form action="#" class="popup__form">
            <div class="popup__form-top">
                <div class="popup__label-wrap">
                    <label for="old" class="popup__label">Ваш возраст</label>
                    <input id="old" type="text" class="popup__input" value="35">
                </div>
                <div class="popup__check">
                    <p class="popup__label">Выбранная область:</p>
                    
                    <textarea id="value" type="text" class="popup__value" value="" readonly>
                    </textarea>
                    </div>
                </div>

                <div class="popup__bottom">
                    <p class="popup__bottom-text">Укажите контактные данные для связи</p>

                    <div class="popup__bottom-wrap">
                        <input type="text" class="popup__input-bottom" placeholder="Ваше имя" required>
                        <input type="text" class="popup__input-bottom" placeholder="+7 ХХХ ХХХ-ХХ-ХХ" required> 
                    </div>

                    
                    <input type="checkbox" class="custom-checkbox" id="politics" name="happy" required>
                    <label for="politics">— согласие на обработку персональных данных</label>

                </div>
                <button class="btn btn__full">Оставить заявку</button>

            </form>
        
        </div>
    

</div>

    <script src="{% static 'js/jquery.js' %}?v.1.0.3"></script>
    <script type="text/javascript" src="{% static 'js/slick.js' %}?v.1.0.3"></script>
    <script src="{% static 'js/script.js' %}?{% now 'H:i:s' %}"></script>
  
    {% for specialist in request.specialist_list %}
    <script>
        $('#profile-{{ forloop.counter }}').click(function(){

            $('#text-{{forloop.counter}}').addClass('our-command__profile-text--active')
        })
    
    </script>

    
    {% endfor %}


    <script type="text/javascript" src="https://w149717.yclients.com/widgetJS" charset="UTF-8"></script>
     <script>
    /* Code for change button by Guide-Group. (https://guide-group.ru/) */
    $(document).ready(function() { 
        $('.online').addClass('ms_booking'); 
        var scriptService = document.createElement('script'); 
        scriptService .src = "https://w570380.yclients.com/widgetJS"; 
        scriptService .type = "text/jаvascript"; 
        scriptService .charset = "UTF-8"; 
        document.documentElement.appendChild(scriptService ); 
    });
    </script>
    <script>
        var yWidgetSettings = {
        buttonColor : '#ef8a7d',
        buttonPosition : 'bottom right',
        buttonAutoShow : true,
        buttonText : 'Онлайн запись',
        formPosition : 'right'
    };
    </script>

</body>
</html>