
{% load static %}
<div class="branch" id="salon">
    <div class="container">
        <div class="branch__inner">
            <div class="branch__top">
                <h2 class="title branch__title">Филиалы</h2>

                <div class="branch__text-nav"> 

                    <div class="branch__text-nav-item">
                        Салон на Нагатинской
                    </div>
                    <div class="branch__text-nav-item">
                        Салон на Кропоткинской 
                    </div>
                    <div class="branch__text-nav-item">
                        Салон на Молодцова
                    </div>
                    

                </div>

            </div>
            <div class="branch__wrap">

                <div class="branch__nav">

                    <div class="branch__nav-item">
                        <p class="branch__nav-adress">
                        Нагатинская набережная 18, корпус 1   
                        </p>

                        <div class="branch__nav-wrap">
                            <img src="{% static 'images/slider/metro.png' %}" alt="Коломенская"> 
                            <a href="" class="branch__nav-link">Коломенская</a>
                        </div> 

                        <p class="branch__nav-time">Работаем с 10:00 до 21:00 Без выходых</p>
                        <p class="branch__nav-text">Услуги салона</p>
                        <ul class="branch__nav-list">
                            <li class="branch__nav-list-item">
                                <a href="#" class="branch__nav-item-link">— LPG - массаж на аппарате VORTEX </a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— LPG-массаж для лица </a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Лазерная эпиляция </a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Кавитация</a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Прессотерапия</a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Бандажное обертывание</a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Уход за лицом</a>
                            </li>
                        
                        </ul>

                    </div>
                    <div class="branch__nav-item">
                        <p class="branch__nav-adress">
                        Нагатинская набережная 18, корпус 1   
                        </p>

                        <div class="branch__nav-wrap">
                            <img src="{% static 'images/slider/metro.png' %}" alt="Коломенская"> 
                            <a href="" class="branch__nav-link">Коломенская</a>
                        </div> 

                        <p class="branch__nav-time">Работаем с 10:00 до 21:00 Без выходых</p>
                        <p class="branch__nav-text">Услуги салона</p>
                        <ul class="branch__nav-list">
                            <li class="branch__nav-list-item">
                                <a href="#" class="branch__nav-item-link">— LPG - массаж на аппарате VORTEX </a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— LPG-массаж для лица </a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Лазерная эпиляция </a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Кавитация</a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Прессотерапия</a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Бандажное обертывание</a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Уход за лицом</a>
                            </li>
                        
                        </ul>

                    </div>
                    <div class="branch__nav-item">
                        <p class="branch__nav-adress">
                        Нагатинская набережная 18, корпус 1   
                        </p>

                        <div class="branch__nav-wrap">
                            <img src="{% static 'images/slider/metro.png' %}" alt="Коломенская"> 
                            <a href="" class="branch__nav-link">Коломенская</a>
                        </div> 

                        <p class="branch__nav-time">Работаем с 10:00 до 21:00 Без выходых</p>
                        <p class="branch__nav-text">Услуги салона</p>
                        <ul class="branch__nav-list">
                            <li class="branch__nav-list-item">
                                <a href="#" class="branch__nav-item-link">— LPG - массаж на аппарате VORTEX </a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— LPG-массаж для лица </a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Лазерная эпиляция </a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Кавитация</a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Прессотерапия</a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Бандажное обертывание</a>
                            </li>
                             <li class="branch__nav-list-item">
                                <a href="" class="branch__nav-item-link">— Уход за лицом</a>
                            </li>
                        
                        </ul>

                    </div>

                
                
                </div>


                <div class="branch__slider">

                    <div class="branch__slider-item" id="slide-1">


                    
                        <img src="{% static 'images/slider/slider1.jpg' %}" alt="" class="branch__slider-img">
                    
                    
                    </div>

                    <div class="branch__slider-item" id="slide-2">
                        <img src="{% static 'images/slider/slider2.jpg' %}" alt="" class="branch__slider-img">
                    
                    
                    </div>
                     <div class="branch__slider-item" id="slide-3">
                        <img src="{% static 'images/slider/slider1.jpg' %}" alt="" class="branch__slider-img">
                    
                    
                    </div>
                
                
                </div>


            
            
            </div>


        
        </div>
    </div>
</div>
