
{% load static %}
<div class="branch" id="salon">
    <div class="container">
        <div class="branch__inner">
            <div class="branch__top">
                <h2 class="title branch__title">Филиалы</h2>

                <div class="branch__text-nav"> 
                    {% for branch in request.departments_list %}
                    <div class="branch__text-nav-item">
                        {{ branch.title }}
                    </div>
                    
                    {% endfor %}
                    

                </div>

            </div>
            <div class="branch__wrap">

                <div class="branch__nav">
                {% for branch in request.departments_list %}
                    <div class="branch__nav-item">
                        <p class="branch__nav-adress">
                        {{ branch.address }}
                        </p>

                        <div class="branch__nav-wrap">
                            <img src="{% static 'images/slider/metro.png' %}" alt="Коломенская"> 
                            <a href="" class="branch__nav-link">{{ branch.metro }}</a>
                        </div> 

                        <p class="branch__nav-time">{{ branch.time }}</p>
                        <p class="branch__nav-text">Услуги салона</p>
                        <ul class="branch__nav-list">

                            {% for service in branch.services.all %}
                            <li class="branch__nav-list-item">
                                <a href="{{ service.get_absolute_url }}" class="branch__nav-item-link">{{ service.title }} </a>
                            </li>
                             {% endfor %}
                        
                        </ul>

                    </div>
                    
                {% endfor %} 
                
                
                </div>


                <div class="branch__slider">

                     {% for branch in request.departments_list %}
                    <div class="branch__slider-item">

                        <img src="{{ branch.photo.url }}" alt="{{ branch.title }}" class="branch__slider-img">
        
                    </div>
                    
                    {% endfor %}
                    

                
                
                </div>


            
            
            </div>


        
        </div>
    </div>
</div>
