
{% load static %}
<section class="our-command">
    <div class="container">
        <div class="our-command__inner">
            <h2 class="title our-command__title">Наша команда</h2>
            <div class="our-command__wrap">
                <div class="our-command__item">
                    <img src="{% static 'images/comand.png' %}" alt="" class="our-command__img">

                    <div class="our-command__text">
                        <p class="our-command__name">Ксения Александровна</p>
                        <p class="our-command__position">специалист</p>
                    </div>

                    <a href="#"class="our-command__profile">Профайл</a>
                
                </div>
                <div class="our-command__item">
                    <img src="{% static 'images/comand.png' %}" alt="" class="our-command__img">

                    <div class="our-command__text">
                        <p class="our-command__name">Ксения Александровна</p>
                        <p class="our-command__position">специалист</p>
                    </div>

                    <a href="#"class="our-command__profile">Профайл</a>
                
                </div>
                <div class="our-command__item">
                    <img src="{% static 'images/comand.png' %}" alt="" class="our-command__img">

                    <div class="our-command__text">
                        <p class="our-command__name">Ксения Александровна</p>
                        <p class="our-command__position">специалист</p>
                    </div>

                    <a href="#"class="our-command__profile">Профайл</a>
                
                </div>
                <div class="our-command__item">
                    <img src="{% static 'images/comand.png' %}" alt="" class="our-command__img">

                    <div class="our-command__text">
                        <p class="our-command__name">Ксения Александровна</p>
                        <p class="our-command__position">специалист</p>
                    </div>

                    <a href="#"class="our-command__profile">Профайл</a>
                
                </div>
            
            </div>
        </div>
    </div>
</section>
