
{% load static %}
<section class="our-command">
    <div class="container">
        <div class="our-command__inner">
            <h2 class="title our-command__title">Наша команда</h2>
            <div class="our-command__wrap">
            {% for specialist in request.specialist_list %}

                <div class="our-command__item">

                    <img src="{% static 'images/comand.png' %}" alt="{{ specialist.name }} {{ specialist.specialty }}" class="our-command__img">
                    

                    <div class="our-command__text">
                        <p class="our-command__name">{{ specialist.name }}</p>
                        <p class="our-command__position">{{ specialist.specialty }}</p>
                    </div>

                    <p id="profile-{{forloop.counter}}" data-btn class="our-command__profile">Профайл</p>

                    
                
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


        {% for specialist in request.specialist_list %}
                    
        <div id="text-{{forloop.counter}}" class="our-command__profile-text">
        
            <div class="our-command__profile-text-inner">
                <img src="{% static 'images/cancel.png' %}" alt="" class="our-command__profile-text-cancel">
                {{ specialist.profile | safe }}
            </div>
        </div>

        {% endfor %}