
{% load static %}
<section class="our-command">
    <div class="container">
        <div class="our-command__inner">
            <h2 class="title our-command__title">Наша команда</h2>
            <div class="our-command__wrap">
            {% for specialist in request.specialist_list %}

                <div class="our-command__item">
                    <img src="{% static 'images/comand.png' %}" alt="{{ specialist.name }} {{ specialist.specialty }}" class="our-command__img">

                    <div class="our-command__text">
                        <p class="our-command__name">{{ specialist.name }}</p>
                        <p class="our-command__position">{{ specialist.specialty }}</p>
                    </div>

                    <a href="{{ specialist.get_absolute_url }}"class="our-command__profile">Профайл</a>
                
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
