{% load static %}



<div class="range-form">
    <p class="range-form__title">Подберём для Вас методики и подходящие услуги</p>

    <div class="range-form__wrap">
        <p class="range-form__subtitle">Мой возраст</p>
        <p id="output" class="range-form__old"></p>
        
        
    </div>
    <div class="range-form__range">

        <input id="range"  type="range" min="18" max="55" value="18" name="range" step="1"/>

            
        
        
        
    </div>

    
    <div class="range-form__wrap">
        <p class="range-form__check-title">Выберите область</p>
        <div class="range-form__clear">сбросить <img class="range-form__icon" src="{% static 'images/cancel.png' %}" alt="сбросить"></div>
    </div>

    <div class="range-form__check">

        <label class="checkbox">
            <input value="Лоб" type="checkbox" />
            <div class="checkbox__text">Лоб
            <div class="checkbox__top">Лоб</div>
            </div>
        </label>
        <label class="checkbox">
            <input value="Подбородок" type="checkbox" />
            <div class="checkbox__text">Подбородок
            <div class="checkbox__top">Подбородок</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Лицо" type="checkbox" />
            <div class="checkbox__text">Лицо
            <div class="checkbox__top">Лицо</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Морщины" type="checkbox" />
            <div class="checkbox__text">Морщины
            <div class="checkbox__top">Морщины</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Кожа" type="checkbox" />
            <div class="checkbox__text">Кожа
            <div class="checkbox__top">Кожа</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Живот" type="checkbox" />
            <div class="checkbox__text">Живот
            <div class="checkbox__top">Живот</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Бёдра" type="checkbox" />
            <div class="checkbox__text">Бёдра
            <div class="checkbox__top">Бёдра</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Ягодицы" type="checkbox" />
            <div class="checkbox__text">Ягодицы
            <div class="checkbox__top">Ягодицы</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Отёк" type="checkbox" />
            <div class="checkbox__text">Отёк
            <div class="checkbox__top">Отёк</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Расстяжки" type="checkbox" />
            <div class="checkbox__text">Расстяжки
            <div class="checkbox__top">Расстяжки</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Целлюлит" type="checkbox" />
            <div class="checkbox__text">Целлюлит
            <div class="checkbox__top">Целлюлит</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Лишний вес" type="checkbox" />
            <div class="checkbox__text">Лишний вес
            <div class="checkbox__top">Лишний вес</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Подмышки" type="checkbox" />
            <div class="checkbox__text">Подмышки
            <div class="checkbox__top">Подмышки</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Бикини" type="checkbox" />
            <div class="checkbox__text">Бикини
            <div class="checkbox__top">Бикини</div>
            </div>
            
        </label>
        <label class="checkbox">
            <input value="Цвет кожи" type="checkbox" />
            <div class="checkbox__text">Цвет кожи
            <div class="checkbox__top">Цвет кожи</div>
            </div>
            
        </label>
    
    </div>

    <a href="#" class="btn btn__full range-form__btn">Оставить заявку</a>

    

</div>