<div class="rewiew" id="review"> 
    <div class="container">
        <div class="rewiew__inner">

        {% for review in request.review_list %}
            <div class="rewiew__item">
                <p class="rewiew__name">{{ review.name }}</p>
                <p class="rewiew__about">Отзыв о процедуре - <span class="rewiew__about--primary">{{ review.service.title }}</span></p>
                <div class="rewiew__wrap ">

                    <p class="rewiew__text ">
                    {{ review.text }}
                    </p>

                    
                </div>
                {% comment %} <a href="#" class="rewiew__open">подробнее</a> {% endcomment %}
            </div>
            
        {% endfor %}

        
        </div>
        <a href="{% url 'review_list' %}" class="btn btn__empty rewiew__btn">Все отзывы</a>
    </div>
</div>
