
{% load static %}
<section class="spec">
    <div class="container">
        <div class="spec__inner">
            <div class="spec__left">
                <h2 class="title spec__title">Специальные предложения</h2>
                <p class="spec__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                </p>
            
            </div>
            <div class="spec__slider">

                <div class="spec__item">
                    <div class="spec__item-wrap">
                        <img src="{% static 'images/spec/1.png' %}" alt="" class="spec__item-img">
                        
                        <div class="spec__circle">

                        </div>
                        <div class="spec__item-text">
                            <p class="spec__item-numb spec__item-numb--big">10</p>
                            <p class="spec__item-desc">сеансов</p>
                            <p class="spec__item-price">за 12.000</p>

                        </div>
                    </div>
                    <div class="spec__bottom">
                        <p class="spec__bottom-min">LPG - массаж на <br>аппарате VORTEX</p>
                        <a href="{% url 'special_view' %}" class="spec__bottom-title">Специальное предложение на проведение 10 сеансов массажа тела</a>
                    </div>
                
                </div>
           
                <div class="spec__item">
                    <div class="spec__item-wrap">
                        <img src="{% static 'images/spec/2.png' %}" alt="" class="spec__item-img">
                        
                        <div class="spec__circle">

                        </div>
                        <div class="spec__item-text">
                            <p class="spec__item-numb">-10%</p>
                            <p class="spec__item-desc">ТОЛЬКО <br> В НОЯБРЕ</p>
                            

                        </div>
                    </div>
                    <div class="spec__bottom">
                        <p class="spec__bottom-min">LPG - массаж на аппарате VORTEX</p>
                        <a href="{% url 'special_view' %}" class="spec__bottom-title">Специальное предложение на проведение 10 сеансов массажа тела</a>
                    </div>
                
                </div>
                <div class="spec__item">
                    <div class="spec__item-wrap">
                        <img src="{% static 'images/spec/3.png' %}" alt="" class="spec__item-img">
                        
                        <div class="spec__circle">

                        </div>
                        <div class="spec__item-text">
                            <p class="spec__item-numb">-10%</p>
                            <p class="spec__item-desc">ТОЛЬКО <br> В НОЯБРЕ</p>
                            

                        </div>
                    </div>

                    <div class="spec__bottom">
                        <p class="spec__bottom-min">LPG - массаж на аппарате VORTEX</p>
                        <a href="{% url 'special_view' %}" class="spec__bottom-title">Специальное предложение на проведение 10 сеансов массажа тела</a>
                    </div>
                
                </div>
                <div class="spec__item">
                    <div class="spec__item-wrap">
                        <img src="{% static 'images/spec/1.png' %}" alt="" class="spec__item-img">
                        
                        <div class="spec__circle">

                        </div>
                        <div class="spec__item-text">
                            <p class="spec__item-numb">10</p>
                            <p class="spec__item-desc">сеансов</p>
                            <p class="spec__item-price">за 12.000</p>

                        </div>
                    </div>
                    <div class="spec__bottom">
                        <p class="spec__bottom-min">LPG - массаж на аппарате VORTEX</p>
                        <a href="{% url 'special_view' %}" class="spec__bottom-title">Специальное предложение на проведение 10 сеансов массажа тела</a>
                    </div>
                
                </div>
            
            </div>
        
        </div>
    </div>
</section>