{% load static %}
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__top">
                <div class="header__col">
                    <a href="{% url 'home' %}" class="header__logo">
                        <img src="{% static 'images/logo.png' %}" alt="estetico logo" class="header__img">
                    </a>
                    <div class="header__work">
                        <img src="{% static 'images/locations.png' %}" alt="" class="header__icon">
                        <div class="header__work-text">
                            <a href="{% url 'home' %}#salon" class="header__link-decor">Салоны</a>
                            <p class="header__time">
                            С 10:00 ДО 21:00 (БЕЗ ВЫХОДНЫХ)
                            </p>
                        </div>
                    </div>
                </div>

                <div class="header__col">
                    <div class="header__tel-wrap">
                        <a href="tel:+79161957378" class="header__tel">+7 916 195 73 78</a>
                        <a href="tel:+79855350520" class="header__tel">+7 985 535 05 20</a>
                    </div>
                    <div class="header__online">
                        <img src="{% static 'images/chat.png' %}" alt="" class="header__icon">
                        <a href="#" class="header__online-link">Записаться онлайн</a>
                    </div>

                </div>
            </div>

            <div class="header__bottom">
                    <a href="{% url 'home' %}" class="header__logo--mobile">
                        <img src="{% static 'images/logo-dark.png' %}" alt="estetico logo" class="header__img">
                    </a>
                <nav class="header__nav" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
                    <ul class="header__list" itemprop="about" itemscope="" itemtype="http://schema.org/ItemList">
                        <li class="header__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a class="header__link" href="{% url 'home' %}" itemprop="url">Главная</a>
                            <meta itemprop="name" content="Главная" />
                        </li>
                        <li class="header__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a class="header__link" href="#" itemprop="url">О нас</a>
                            <meta itemprop="name" content="О нас" />
                        </li>
                        <li class="header__item " itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a class="header__link header__item-drop" href="{% url 'home' %}#servises" itemprop="url">Услуги салонов</a>
                            <meta itemprop="name" content="Услуги салонов" />

                            <ul class="header__dropdown" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">

                                {% for service in request.services_list %}
                                <li class="header__dropdown-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                                    <a class="header__dropdown-link" href="{{ service.get_absolute_url }}" itemprop="url">— {{ service.title }} </a>
                                    <meta itemprop="name" content="LPG-массаж на аппарате VORTEX " />
                                </li>
                                
                                {% endfor %}
                                                                            
                                                                            
                                                                            
                                                                            
                                                                            
                                                                           
                                
                            </ul>
                        </li>
                        <li class="header__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a class="header__link" href="{% url 'price' %}" itemprop="url">Прайс на процедуры</a>
                            <meta itemprop="name" content="Прайс на процедуры" />
                        </li>
                        <li class="header__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a class="header__link" href="{% url 'special' %}" itemprop="url">Спецпредложения</a>
                            <meta itemprop="name" content="Спецпредложения" />
                        </li>
                        <li class="header__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a class="header__link" href="{% url 'review_list' %}" itemprop="url">Отзывы</a>
                            <meta itemprop="name" content="ОТЗЫВЫ" />
                        </li>
                        <li class="header__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a class="header__link" href="{% url 'blog' %}" itemprop="url">Блог</a>
                            <meta itemprop="name" content="Блог" />
                        </li>
                        <li class="header__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a class="header__link" href="{% url 'contacts' %}" itemprop="url">Контакты</a>
                            <meta itemprop="name" content="Контакты" />
                        </li>
                        <li class="header__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                            <a class="header__link header__link--primary" href="#" itemprop="url">Обучение</a>
                            <meta itemprop="name" content="Обучение" />
                        </li>
             
                    </ul>
                </nav>
            
            </div>
        
        </div>
    </div>
</header>

<div class="toggle-menu" id="menu">
    <div class="toggle-section">
        <a href="#" class="menu-btn">
            <span></span>
        </a>
    </div>
</div>